<launch>
  <arg name="gui" default="true"/>
  <param name="robot_description" command="xacro $(find k4a_arm_support)/urdf//UR3_Lifecam.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find k4a_arm_support)/viz/visualize.rviz" if="$(arg gui)"/>
</launch>